
.mailsvg{
    transform: scale(.25);

    background-color: transparent;
    outline: none;
    border: none;

    transition: all .25s ease;
    transform-origin: 25% 100%;

    &:hover{
        outline: none;
        border: none;
        transform: scale(.3);
    }
        
    &:active {
        outline: none;
        border: none;
        transform: scale(.2);
    }
}

.mailbox{
    position: fixed;
    left: 0%;
    bottom: 0%;
}

.msgcontainer{
    height: 100vh;
    width: 100vw;
    background-color: $persian-blue;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: $flickr-pink;
    border-radius: 50px;
    padding: 5px;
}

.msgs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 32px;
}

.message{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    // background-color: yellow;
    background-image: url("../assets/postcard.png");
    width: 45vw;
    height: 35vh;
    padding: 8px;
    margin: 32px;
    box-shadow: 8px 16px 8px rgba(0, 0, 0, 0.25);
}