$flickr-pink: #f72585ff;
$byzantine: #b5179eff;
$purple: #7209b7ff;
$purple-2: #560badff;
$trypan-blue: #480ca8ff;
$trypan-blue-2: #3a0ca3ff;
$persian-blue: #3f37c9ff;
$ultramarine-blue: #4361eeff;
$dodger-blue: #4895efff;
$vivid-sky-blue: #4cc9f0ff;

$skobeloff: #006466ff;
$midnight-green-eagle-green: #065a60ff;
$midnight-green-eagle-green-2: #0b525bff;
$midnight-green-eagle-green-3: #144552ff;
$charcoal: #1b3a4bff;
$prussian-blue: #212f45ff;
$space-cadet: #272640ff;
$dark-purple: #312244ff;
$russian-violet: #3e1f47ff;
$russian-violet-2: #4d194dff;