.tagline {
  overflow: hidden;
  background: linear-gradient(to left, $dodger-blue, transparent 33%);
  position: fixed;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  z-index: 25;
  transition: all .25s ease;
  margin: 0;

  h4{
    float: right;
    display: block;
    text-align: right;
    color: white;
    padding: 4px 32px;
    margin: 0;
  }

}