@import "palette";
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

*{
    font-size: 36px;
    font-family: 'Abel', sans-serif;
}

body{
    height: 100vh;
    overflow-y: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: bgCycle 30s linear infinite;
    transition: all 1s ease;
}

@keyframes bgCycle {
    0%, 100% {background-color: $persian-blue;}
    50% {background-color: $purple;}
}

button{

    background-color: transparent;
    outline: none;
    border: none;

    transition: all .25s ease;
    transform-origin: 50% 50%;

    &:hover{
        outline: none;
        border: none;
        transform: scale(1.1);
    }

    &:focus {
        outline: none;
        border: none;
    }
        
    &:active {
        outline: none;
        border: none;
        transform: scale(.9);
    }

}

img{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}

#mainComponent{
    display: flex;
    align-items: center;
    justify-content: center;
}

.messageContainer{
    width: 25%;
    padding: 25px;
    margin-top: -80vh;
    background-Color: $trypan-blue-2;
    box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.hand{

}

.mailbox{
    display: fixed;
    margin-left: 2vw;
    margin-top: 50vh;
}

.newMessage{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Permanent Marker', cursive !important;
}

.postcard{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.25);
    z-index: -1;
}