@import "palette";
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

*{
    font-size: 36px;
    font-family: 'Abel', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: bgCycle 30s linear infinite;
    transition: all 1s ease;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@keyframes bgCycle {
    0%, 100% {background-color: $persian-blue;}
    50% {background-color: $purple;}
}

button{

    background-color: transparent;
    outline: none;
    border: none;

    transition: all .25s ease;
    transform-origin: 50% 50%;

    &:hover{
        outline: none;
        border: none;
        transform: scale(1.1);
    }

    &:focus {
        outline: none;
        border: none;
    }
        
    &:active {
        outline: none;
        border: none;
        transform: scale(.9);
    }

}

img{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}

.container{
    // width: 100%;
    // height: 100%;
}

#mainComponent{
}

.messageContainer{
    // width: 75%;
    // height: 75%;
    // box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.25);
    // z-index: 10;
}

.hand{
}

.mailbox{
}

.newMessage{
//     display: flex;
//     align-items: center;
//     justify-content: center;
    font-family: 'Permanent Marker', cursive !important;
}

.postcard{
    position: fixed;
    box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.25);
    z-index: -1;
}